@font-face {
    font-family: enLogoFont;
    src: url(../font/SHOWG.TTF);
}


body{
    background-color: #dfcdb1;
    padding: 0px;
    margin: 0px;
    font-family: enLogoFont;
}



/*****************************Game Star***************************/
#start{
    width: 750px;
    height: 550px;
    position: absolute;
    left: 47%;
    margin-left: -375px;
    top: 30px;
    z-index:100;
    background-image: url(../img/star_bg.png);
    /*background-color: darkslategrey;*/
}

#start #startBtu{
    width: 110px;
    height: 50px;
    position: absolute;
    background-color: #ed8f84;
    border-radius: 8px;
    right: 280px;
    bottom: 120px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color:#67b0b7;
    cursor: pointer;
    text-shadow: 1px 1px 2px #476365;
    box-shadow: inset 2px 2px 4px #ffc1c0;
}

#start #startBtu:hover{
    text-shadow: 1px 0px 2px #476365;
    box-shadow: inset -2px 2px 4px #ffc1c0;
}


/*****************************Game In***************************/
#time{
    position: absolute;
    color:#755a48;
    font-size: 22px;
}

#upThing{
    position: relative;
    width: 98%;
    margin: auto;
}


#upThing .box{
    position: relative;
    width: 8%;
    height: 100%;
    float: left;
    margin-left:0.1%;
}

#upThing .box .boxIn{
    position: absolute;
    width: 70%;

    left: 50%;
    background-image: url(../img/candy.png);
}




#receiver {
    width:180px;
    height: 105px;
    border-radius: 4px;
    background-image: url(../img/box.png);

    position: absolute;
    bottom: 2px;
}

#receiver #score{
    width: 100%;
    font-size: 24px;
    text-align: center;
    line-height: 105px;
    color:#4d473b;
    text-shadow: 1px 1px 2px #4d473b;
}



/*****************************Game End***************************/
#endBlock{
    width: 750px;
    height: 550px;
    position: absolute;
    left: 47%;
    margin-left: -375px;
    top: 30px;
    z-index:100;
    background-image: url(../img/star_bg.png);
    display: none;
}

#endBlock #endScore{
    width: 160px;
    height: 40px;
    color: #ed8f84;
    font-size: 24px;
    position: absolute;
    bottom:120px;
    left:260px;
    -webkit-animation: shine 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine {
    0%{
        color:#ffc0bf;
        text-shadow: 1px 1px 1px #ffffff;
    }
    30%{
        color:#ed8f84;
        text-shadow: 1px 1px 8px #ffffff;
    }
    100%{
        color:#ffc0bf;
        text-shadow: 1px 1px 1px #ffffff;
    }
}

#endBlock #newBtu{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 8px;
    right: 220px;
    bottom: 120px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color:#67b0b7;
    cursor: pointer;
    background-image: url(../img/resert.png);

}



#endBlock #newBtu:hover{
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url(../img/resert1.png);
}

