body{
    background-color: #d7efde;
    padding: 0px;
    margin: 0px;
}



/*****************************Game Star***************************/

/*****************************Game In***************************/

#upThing{
    position: relative;
    width: 98%;
    margin: auto;
}


#upThing .box{
    position: relative;
    width: 8%;
    height: 100%;
    float: left;
    margin-left:0.2%;
}

#upThing .box .boxIn{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    left: 50%;
    margin-left: -35px;
    background-color: #f5a4a0;
    -webkit-animation: boxDown 1s;
}


@-webkit-keyframes boxDown {
    0%{
        position: absolute;
        top: 0px;
    }
    100%{
        position: absolute;
        top: 90%;
    }
}

#receiver {
    width:180px;
    height: 105px;
    border-radius: 4px;
    background-image: url(../img/box.png);

    position: absolute;
    bottom: 5px;
}



/*****************************Game End***************************/